In [1]:


import pandas as pd

In [45]:
#dailyStockInfo = pd.read_csv('stock-data.csv')
df = pd.read_csv('stock-data.csv')

In [46]:
print(df.head())

         Date  Close  Start   High    Low  Volume
0  2018-07-02  10100  10850  10900  10000  137977
1  2018-06-29  10700  10550  10900   9990  170253
2  2018-06-28  10400  10900  10950  10150  155769
3  2018-06-27  10900  10800  11050  10500  133548
4  2018-06-26  10800  10900  11000  10700   63039

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     object
 1   Close   20 non-null     int64
 2   Start   20 non-null     int64
 3   High    20 non-null     int64
 4   Low     20 non-null     int64
 5   Volume  20 non-null     int64
dtypes: int64(5), object(1)
memory usage: 1.1+ KB

In [38]:
# 문자열 데이터(시리즈 객체)를 판다스 Timestamp로 변환
# pd.to_datetime(df['Date'])

df['new_Date'] = pd.to_datetime(df['Date'])

In [39]:
print(df.head())

        Date  Close  Start   High    Low  Volume   new_Date
0 2018-07-02  10100  10850  10900  10000  137977 2018-07-02
1 2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2 2018-06-28  10400  10900  10950  10150  155769 2018-06-28
3 2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4 2018-06-26  10800  10900  11000  10700   63039 2018-06-26

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20 non-null     object
 1   Close     20 non-null     int64
 2   Start     20 non-null     int64
 3   High      20 non-null     int64
 4   Low       20 non-null     int64
 5   Volume    20 non-null     int64
 6   new_Date  20 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 1.2+ KB

In [40]:
print('type : ', type(df['new_Date'][0])) #<class 'str'>

type :  <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [41]:
df.set_index('new_Date', inplace=True)

In [42]:
df.drop('Date', axis=1, inplace=True)

In [43]:
print(df.head()) #String 을 데이트 타입으로 바뀐것임.

            Close  Start   High    Low  Volume
new_Date
2018-07-02  10100  10850  10900  10000  137977
2018-06-29  10700  10550  10900   9990  170253
2018-06-28  10400  10900  10950  10150  155769
2018-06-27  10900  10800  11050  10500  133548
2018-06-26  10800  10900  11000  10700   63039

In [47]:
#위에 방식을 한번에 바꿀수 있는 방법 (Line : 9,10)

df['Date'] = pd.to_datetime(df['Date'])  #df에 새로운 열로 추가

In [15]:
print(df.head())

        Date  Close  Start   High    Low  Volume
0 2018-07-02  10100  10850  10900  10000  137977
1 2018-06-29  10700  10550  10900   9990  170253
2 2018-06-28  10400  10900  10950  10150  155769
3 2018-06-27  10900  10800  11050  10500  133548
4 2018-06-26  10800  10900  11000  10700   63039

## 5.16 Timestamp

In [30]:
# 날짜 형식의 문자열로 구성되는 리스트 정의
dates = ['2019-01-01', '2020-03-01', '2021-06-01']

print(type(dates[0]))

<class 'str'>

In [18]:
ts_dates = pd.to_datetime(dates)

In [19]:
print(type(ts_dates))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [31]:
# Timestamp를 Period로 변환

In [32]:
pr_day = ts_dates.to_period(freq='D') #년-월-일

In [33]:
print(pr_day) # 시:분:초 없어짐

PeriodIndex(['2019-01-01', '2020-03-01', '2021-06-01'], dtype='period[D]')

In [34]:
pr_month = ts_dates.to_period(freq='M') #년-월

In [35]:
print(pr_month)

PeriodIndex(['2019-01', '2020-03', '2021-06'], dtype='period[M]')

In [36]:
pr_year = ts_dates.to_period(freq='A') # Anual 년도

In [37]:
print(pr_year)

PeriodIndex(['2019', '2020', '2021'], dtype='period[A-DEC]')

## Time stamp 만들기

In [48]:
ts_ms = pd.date_range(start='2019-01-01',    # 날짜 범위의 시작
                   end=None,                 # 날짜 범위의 끝
                   periods=6,                # 생성할 Timestamp의 개수
                   freq='MS',                # 시간 간격 (MS: 월의 시작일(01일))
                   tz='Asia/Seoul')          # 시간대(timezone)

In [49]:
print(ts_ms)

DatetimeIndex(['2019-01-01 00:00:00+09:00', '2019-02-01 00:00:00+09:00',
               '2019-03-01 00:00:00+09:00', '2019-04-01 00:00:00+09:00',
               '2019-05-01 00:00:00+09:00', '2019-06-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='MS')

In [50]:
# 월 간격, 월의 마지막 날 기준
ts_me = pd.date_range(
                start = '2019-01-01',
                periods=6, 
                freq='M',              # 시간 간격 (M: 월의 마지막 날)
                tz='Asia/Seoul')       # 시간대(timezone)

In [51]:
print(ts_me)

DatetimeIndex(['2019-01-31 00:00:00+09:00', '2019-02-28 00:00:00+09:00',
               '2019-03-31 00:00:00+09:00', '2019-04-30 00:00:00+09:00',
               '2019-05-31 00:00:00+09:00', '2019-06-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='M')

In [52]:
ts_3m = pd.date_range(
                start = '2019-01-01',
                periods=6, 
                freq='3M',             # 시간 간격 (3M: 3개월)
                tz='Asia/Seoul')       # 시간대(timezone)

In [53]:
print(ts_3m)

DatetimeIndex(['2019-01-31 00:00:00+09:00', '2019-04-30 00:00:00+09:00',
               '2019-07-31 00:00:00+09:00', '2019-10-31 00:00:00+09:00',
               '2020-01-31 00:00:00+09:00', '2020-04-30 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='3M')

In [59]:
#분기별
ts_2023qs = pd.date_range(
                start = '2023-01-01',periods=4, 
                freq='QS',             # 시간 간격 (3M: 3개월)
                tz='Asia/Seoul')

In [60]:
print(ts_2023qs)

DatetimeIndex(['2023-01-01 00:00:00+09:00', '2023-04-01 00:00:00+09:00',
               '2023-07-01 00:00:00+09:00', '2023-10-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='QS-JAN')

In [62]:
# 분기초 : 3MS
ts_3ms = pd.date_range(
                start = '2023-01-01',periods=4, 
                freq='3MS',             # 시간 간격 (3M: 3개월)
                tz='Asia/Seoul')

In [63]:
print(ts_3ms)

DatetimeIndex(['2023-01-01 00:00:00+09:00', '2023-04-01 00:00:00+09:00',
               '2023-07-01 00:00:00+09:00', '2023-10-01 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='3MS')

In [66]:
#분기말(Q)의 날짜 표시 
ts_qend = pd.date_range(
                start = '2023-01-01',periods=4, 
                freq='Q',             # 시간 간격 (3M: 3개월)
                tz='Asia/Seoul')

In [65]:
print(ts_qend)

DatetimeIndex(['2023-03-31 00:00:00+09:00', '2023-06-30 00:00:00+09:00',
               '2023-09-30 00:00:00+09:00', '2023-12-31 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq='Q-DEC')

## pd.period_range

In [68]:
pr_m = pd.period_range(
        '2023-01-01',
        end= None,
        periods = 3,
        freq = 'M'
)

In [69]:
print(pr_m)

PeriodIndex(['2023-01', '2023-02', '2023-03'], dtype='period[M]')

In [71]:
pr_h= pd.period_range(
        '2023-01-01',
        end= None,
        periods = 3,
        freq = 'H'
)

In [72]:
print(pr_h)

PeriodIndex(['2023-01-01 00:00', '2023-01-01 01:00', '2023-01-01 02:00'], dtype='period[H]')

In [75]:
pr_h2 = pd.period_range(
        '2023-09-07 09:00:00',
        end= None,
        periods = 4,
        freq = 'H' # 1시간당
)

In [76]:
print(pr_h2)

PeriodIndex(['2023-09-07 09:00', '2023-09-07 10:00', '2023-09-07 11:00',
             '2023-09-07 12:00'],
            dtype='period[H]')

In [77]:
pr_2h = pd.period_range(
        '2023-09-07 09:00:00',
        end= None,
        periods = 4,
        freq = '2H' # 2시간당
)

In [78]:
print(pr_2h)

PeriodIndex(['2023-09-07 09:00', '2023-09-07 11:00', '2023-09-07 13:00',
             '2023-09-07 15:00'],
            dtype='period[2H]')

In [85]:
print (pr_2h)

PeriodIndex(['2023-09-07 09:00', '2023-09-07 11:00', '2023-09-07 13:00',
             '2023-09-07 15:00'],
            dtype='period[2H]')

## 시계 Series Data Appliction

In [86]:
# read_csv() 함수로 파일 읽어와서 df로 변환
df = pd.read_csv('stock-data.csv')

# 문자열인 날짜 데이터를 판다스 Timestamp로 변환
df['new_Date'] = pd.to_datetime(df['Date'])   #df에 새로운 열로 추가
print(df.head())
print('\n')

         Date  Close  Start   High    Low  Volume   new_Date
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26

In [87]:
# new_Date를 연도 , 월, 일 별도 짤라서 따로 보관 
df['Year'] = df['new_Date'].dt.year
df['Month'] = df['new_Date'].dt.month
df['Day'] = df['new_Date'].dt.day
print(df.head())
print('\n')

         Date  Close  Start   High    Low  Volume   new_Date  Year  Month  Day
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018      7    2
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018      6   29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018      6   28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018      6   27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018      6   26

In [88]:
#dt 의 의미 
#to_datetime으로 변환시키면 dt. 타입이 생성된다. 
new_Date_dt = df['new_Date'].dt

In [90]:
print(type(new_Date_dt)) #dt 를 통해서 데이트를 꺼내야함.

<class 'pandas.core.indexes.accessors.DatetimeProperties'>

In [91]:
print(new_Date_dt)

<pandas.core.indexes.accessors.DatetimeProperties object at 0x14c20f3a0>

In [96]:
print(new_Date_dt.date) #type : <class 'pandas.core.series.Series'>
print(type(new_Date_dt.date))

0     2018-07-02
1     2018-06-29
2     2018-06-28
3     2018-06-27
4     2018-06-26
5     2018-06-25
6     2018-06-22
7     2018-06-21
8     2018-06-20
9     2018-06-19
10    2018-06-18
11    2018-06-15
12    2018-06-14
13    2018-06-12
14    2018-06-11
15    2018-06-08
16    2018-06-07
17    2018-06-05
18    2018-06-04
19    2018-06-01
Name: new_Date, dtype: object
<class 'pandas.core.series.Series'>

In [97]:
# Timestamp를 Period로 변환하여 년월일 표기 변경하기
df['Date_yr'] = df['new_Date'].dt.to_period(freq='A')
df['Date_m'] = df['new_Date'].dt.to_period(freq='M')
print(df.head())
print('\n')

         Date  Close  Start   High    Low  Volume   new_Date  Year  Month  \
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018      7
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018      6
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018      6
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018      6
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018      6

   Day Date_yr   Date_m
0    2    2018  2018-07
1   29    2018  2018-06
2   28    2018  2018-06
3   27    2018  2018-06
4   26    2018  2018-06

In [98]:
# 원하는 열을 새로운 행 인덱스로 지정
df.set_index('Date_m', inplace=True)
print(df.head())

               Date  Close  Start   High    Low  Volume   new_Date  Year  \
Date_m
2018-07  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018
2018-06  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018
2018-06  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018
2018-06  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018
2018-06  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018

         Month  Day Date_yr
Date_m
2018-07      7    2    2018
2018-06      6   29    2018
2018-06      6   28    2018
2018-06      6   27    2018
2018-06      6   26    2018

### 5-20 날짜 인덱스 활용

In [115]:
# read_csv() 함수로 파일 읽어와서 df로 변환
df = pd.read_csv('stock-data.csv')

                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977
2018-06-29  2018-06-29  10700  10550  10900   9990  170253
2018-06-28  2018-06-28  10400  10900  10950  10150  155769
2018-06-27  2018-06-27  10900  10800  11050  10500  133548
2018-06-26  2018-06-26  10800  10900  11000  10700   63039


DatetimeIndex(['2018-07-02', '2018-06-29', '2018-06-28', '2018-06-27',
               '2018-06-26', '2018-06-25', '2018-06-22', '2018-06-21',
               '2018-06-20', '2018-06-19', '2018-06-18', '2018-06-15',
               '2018-06-14', '2018-06-12', '2018-06-11', '2018-06-08',
               '2018-06-07', '2018-06-05', '2018-06-04', '2018-06-01'],
              dtype='datetime64[ns]', name='new_Date', freq=None)

In [ ]:
# 문자열인 날짜 데이터를 판다스 Timestamp로 변환
df['new_Date'] = pd.to_datetime(df['Date'])   # 새로운 열에 추가
df.set_index('new_Date', inplace=True)        # 행 인덱스로 지정

print(df.head())
print('\n')
print(df.index)
print('\n')

In [ ]:
## 책에 오류 수정 

#내림차순

In [103]:
# 날짜 인덱스를 이용하여 데이터 선택하기
# 교재가 잘못됨. df_y = df['2018']
df_y = df.loc['2018']
print(df_y.count())
print('\n')

Date      20
Close     20
Start     20
High      20
Low       20
Volume    20
dtype: int64

In [104]:
df_ym = df.loc['2018-07']    # loc 인덱서 활용
print(df_ym)
print('\n')

                  Date  Close  Start   High    Low  Volume
new_Date
2018-07-02  2018-07-02  10100  10850  10900  10000  137977

In [106]:
 df_ym_cols = df.loc['2018-07', 'Start':'High']    # 열 범위 슬라이싱
print(df_ym_cols)
print('\n')

            Start   High
new_Date
2018-07-02  10850  10900

In [108]:
df_ymd = df.loc['2018-07-02']
print(df_ymd)

Date      2018-07-02
Close          10100
Start          10850
High           10900
Low            10000
Volume        137977
Name: 2018-07-02 00:00:00, dtype: object

In [116]:
# 오류 
print('\n')
#df_ymd_range = df['2018-06-25':'2018-06-20']    # 날짜 범위 지정
#print(df_ymd_range)
#print('\n')

df_y1 = pd.to_datetime('2018-06-05')
df_y2 = pd.to_datetime('2018-06-29')

print(df_y1,df_y2)

df_yy = df.loc[df_y1:df_y2]
print(df_yy)

2018-06-05 00:00:00 2018-06-29 00:00:00
Empty DataFrame
Columns: [Date, Close, Start, High, Low, Volume]
Index: []

In [110]:
# 시간 간격 계산. 최근 180일 ~ 189일 사이의 값들만 선택하기
today = pd.to_datetime('2018-12-25')            # 기준일 생성
df['time_delta'] = today - df.index             # 날짜 차이 계산
df.set_index('time_delta', inplace=True)        # 행 인덱스로 지정
df_180 = df['180 days':'189 days']
print(df_180)

                  Date  Close  Start   High    Low  Volume
time_delta
180 days    2018-06-28  10400  10900  10950  10150  155769
181 days    2018-06-27  10900  10800  11050  10500  133548
182 days    2018-06-26  10800  10900  11000  10700   63039
183 days    2018-06-25  11150  11400  11450  11000   55519
186 days    2018-06-22  11300  11250  11450  10750  134805
187 days    2018-06-21  11200  11350  11750  11200  133002
188 days    2018-06-20  11550  11200  11600  10900  308596
189 days    2018-06-19  11300  11850  11950  11300  180656