In [38]:
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic')

In [39]:
print(df['embark_town'].head(10))

0    Southampton
1      Cherbourg
2    Southampton
3    Southampton
4    Southampton
5     Queenstown
6    Southampton
7    Southampton
8    Southampton
9      Cherbourg
Name: embark_town, dtype: object

In [41]:
#most_freq_city = df['embark_town'].value_counts(dropna=True).idxmax() # NaN 불포함 
print (df['embark_town'].value_counts(dropna=True).idxmax()) #NaN: 포함

print (df['embark_town'].value_counts(dropna=False).idxmin()) #NaN: 포함 NaN 출력 

print (df['embark_town'].value_counts(dropna=True).idxmin()) #NaN: 불포함 가장작은 빈도 Queenstown 출력

Southampton
nan
Queenstown

In [22]:
print(most_freq_city)

Southampton

In [23]:
df['embark_town'].fillna(most_freq_city, inplace=True)

In [24]:
print(df['embark_town'][820:830])

820    Southampton
821    Southampton
822    Southampton
823    Southampton
824    Southampton
825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829    Southampton
Name: embark_town, dtype: object