In [5]:
# 라이브러리 불러오기
import pandas as pd

# 중복 데이터를 갖는 데이터프레임 만들기
df = pd.DataFrame({'c1':['a', 'a', 'b', 'a', 'b'],
                  'c2':[1, 1, 1, 2, 2],
                  'c3':[1, 1, 2, 2, 2]})

In [27]:
print(df[['c1','c2']])
print(df)

  c1  c2
0  a   1
1  a   1
2  b   1
3  a   2
4  b   2
  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [7]:
df_dup = df.duplicated()
print(df_dup)
print('\n')

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [9]:
#C2 입장에서 보면 
cal_dup = df['c2'].duplicated()
print(cal_dup)
print('\n')

0    False
1     True
2     True
3    False
4     True
Name: c2, dtype: bool

In [10]:
# C1 
cal_dup = df['c1'].duplicated()
print(cal_dup)
print('\n')

0    False
1     True
2    False
3     True
4     True
Name: c1, dtype: bool

In [14]:
#drop duplicate 

df2 = df.drop_duplicates()
print(df2)

  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2

In [16]:
print(df)
print("="*40)
df2 = df.drop_duplicates(subset=['c2','c3']) #전체 데이터에서 두가지만 중복 처리함. 
print(df2)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
========================================
  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [28]:
print(df)
print("="*40)
df2 = df.drop_duplicates(subset=['c2','c3']) #전체 데이터에서 두가지만 중복 처리함. 
print(df2)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
========================================
  c1  c2  c3
0  a   1   1
2  b   1   2
3  a   2   2

In [19]:
print(df)
print("="*40)
df2 = df[['c2','c3']].drop_duplicates() #데이터를 c2, c3만 꺼내서 중복처리 함. 
print(df2)

  c1  c2  c3
0  a   1   1
1  a   1   1
2  b   1   2
3  a   2   2
4  b   2   2
========================================
   c2  c3
0   1   1
2   1   2
3   2   2