In [35]:
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('./auto-mpg.csv', header=None)

# 열 이름을 지정
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']

In [20]:
print(df.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object

In [78]:
hp = df["horsepower"]
print(hp)

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393    86.00
394    52.00
395    84.00
396    79.00
397    82.00
Name: horsepower, Length: 398, dtype: object

In [92]:
data = hp.isnull
print(data)

<bound method Series.isnull of 0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393    86.00
394    52.00
395    84.00
396    79.00
397    82.00
Name: horsepower, Length: 398, dtype: object>

In [90]:
q = 0
for i in data:
    if i == '?':
        q+=1
    print(i)
print(q)

TypeError: 'method' object is not iterable

In [91]:
data.[1]

TypeError: 'method' object is not subscriptable

In [5]:
print(df['horsepower'].unique())
print(df['horsepower'].unique())

['130.0' '165.0' '150.0' '140.0' '198.0' '220.0' '215.0' '225.0' '190.0'
 '170.0' '160.0' '95.00' '97.00' '85.00' '88.00' '46.00' '87.00' '90.00'
 '113.0' '200.0' '210.0' '193.0' '?' '100.0' '105.0' '175.0' '153.0'
 '180.0' '110.0' '72.00' '86.00' '70.00' '76.00' '65.00' '69.00' '60.00'
 '80.00' '54.00' '208.0' '155.0' '112.0' '92.00' '145.0' '137.0' '158.0'
 '167.0' '94.00' '107.0' '230.0' '49.00' '75.00' '91.00' '122.0' '67.00'
 '83.00' '78.00' '52.00' '61.00' '93.00' '148.0' '129.0' '96.00' '71.00'
 '98.00' '115.0' '53.00' '81.00' '79.00' '120.0' '152.0' '102.0' '108.0'
 '68.00' '58.00' '149.0' '89.00' '63.00' '48.00' '66.00' '139.0' '103.0'
 '125.0' '133.0' '138.0' '135.0' '142.0' '77.00' '62.00' '132.0' '84.00'
 '64.00' '74.00' '116.0' '82.00']

In [21]:
import numpy as np
df['horsepower'].replace('?', np.nan, inplace=True) # '?'을 np.nan으로 변경

In [22]:
df.dropna(subset=['horsepower'], axis=0, inplace=True)   # 누락데이터 행을 삭제

In [23]:
#자료형을 변경시키 시리즈 데이터로 변경 
df['horsepower'] = df['horsepower'].astype('float')


print(type(df['horsepower'].astype('float')))
print(type(df['horsepower']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [24]:
# horsepower 열의 자료형 확인
print(df['horsepower'].dtypes)  
print('\n')

float64

In [25]:
# origin 열의 고유값 확인

print(df['origin'].unique())

[1 3 2]

In [45]:
origin_counts = df['origin'].value_counts()

In [46]:
print(type(origin_index))
print(origin_counts)

<class 'pandas.core.indexes.base.Index'>
origin
1    249
3     79
2     70
Name: count, dtype: int64

In [47]:
origin_index = origin_counts.index
print(type(origin_index))
print(origin_index)

<class 'pandas.core.indexes.base.Index'>
Index([1, 3, 2], dtype='int64', name='origin')

In [48]:
origin_values = origin_index.values

print(type(origin_values))
print(origin_values)

<class 'numpy.ndarray'>
[1 3 2]

In [49]:
print('origin_values: ', origin_values)

origin_values:  [1 3 2]

In [50]:
# 정수형 데이터를 문자형 데이터로 변환 
df['origin'].replace({1:'USA', 2:'EU', 3:'JAPAN'}, inplace=True)

In [51]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,USA,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,USA,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,USA,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,USA,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,USA,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,USA,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,EU,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,USA,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,USA,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,USA,chevy s-10

In [52]:
origin_counts = df['origin'].value_counts()

In [54]:
origin_index = origin_counts.index
origin_values = origin_index.values

In [55]:
print(origin_values)

['USA' 'JAPAN' 'EU']

In [56]:

print(df['origin'].unique())
print(df['origin'].dtypes) 
print('\n')

['USA' 'JAPAN' 'EU']
object

In [57]:
# origin 열의 문자열 자료형을 범주형으로 변환
df['origin'] = df['origin'].astype('category')     
print(df['origin'].dtypes)

category

In [58]:
# 범주형을 문자열로 다시 변환
df['origin'] = df['origin'].astype('str')     
print(df['origin'].dtypes)

object

In [59]:
# model year 열의 정수형을 범주형으로 변환
print(df['model year'].sample(3))
df['model year'] = df['model year'].astype('category') 
print(df['model year'].sample(3))

394    82
71     72
351    81
Name: model year, dtype: int64
205    76
149    74
123    73
Name: model year, dtype: category
Categories (13, int64): [70, 71, 72, 73, ..., 79, 80, 81, 82]