### 2. Data Frame

In [7]:
import pandas as pd

In [8]:

exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

In [9]:
df = pd.DataFrame(exam_data, index=['서준', '우현','인아'])
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [10]:
df4 = df.copy()

In [17]:
print(df4)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [40]:
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print('\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [41]:
#df4 = df[:]
df4 = df.copy()

In [42]:
df4.drop('수학', axis=1, inplace=True) 
print(df4)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

In [43]:
df5 = df.copy()

In [44]:
df5.drop(['영어','수학'],axis=1,inplace=True)

In [45]:
print(df5)

     음악   체육
서준   85  100
우현   95   90
인아  100   90

## 1.9 select_row copy

In [77]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

In [78]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)       # 데이터프레임 출력
print('\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [79]:
#DataFrame.loc(index) : 인덱스 탐색  
#Dataframe.iloc(index): 숫자로 탐색 
label1 = df.loc['서준']
label2 = df.iloc[0]

In [80]:
print(label1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [53]:
print(label2)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [72]:
##두개를 꺼내올때  직접 꺼내오면 에어남 
label3 = df[['서준','우현']]

KeyError: "None of [Index(['서준', '우현'], dtype='object')] are in the [columns]"

In [83]:
label3  = df.loc[['서준','우현']] #index 명으로 줄경우 뒤에 항목 포함

In [95]:
position3 = df.iloc[0:1] #index 숫자로 줄경우 뒤에 항목 불포함

In [96]:
label4  = df.loc[['서준','인아']]

In [97]:
print(label4)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [98]:
position4 = df.iloc[[0,2]]

In [99]:
print(position4)

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [105]:
# 인덱스를 임의대로 넣지 않을경우
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

df2 = pd.DataFrame(exam_data)

In [108]:
print(df2.index)

RangeIndex(start=0, stop=3, step=1)

In [109]:
#명시적으로 인덱스를 지정하지 않으면 숫자를 인덱스로 사용시, loc(), iloc()가 차이가 발생 
print(df2)

   수학  영어   음악   체육
0  90  98   85  100
1  80  89   95   90
2  70  95  100   90

In [116]:
label3= df.loc[0:1]
label4 = df.loc[1]

In [118]:
print(type(label3))
print(type(label4))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

### 10.select_column.py

In [139]:
# 1개의 칼럼 선택되면 모든 행의 시리즈 객체 리턴 
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

exam_data2 = {'과학' : [ '1', '3', '4'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df2 = pd.DataFrame(exam_data2)
print(df)
print(type(df))
print(df2)
print(type(df2))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>
  과학  수학  영어   음악   체육
0  1  90  98   85  100
1  3  80  89   95   90
2  4  70  95  100   90
<class 'pandas.core.frame.DataFrame'>

In [136]:
name = df['이름']
print(name)

0    서준
1    우현
2    인아
Name: 이름, dtype: object

In [135]:
math1 = df['수학']
print(type(math1))
print(math1)

<class 'pandas.core.series.Series'>
0    90
1    80
2    70
Name: 수학, dtype: int64

In [137]:
english = df.수학 
print(english)

0    90
1    80
2    70
Name: 수학, dtype: int64

In [148]:
#여러 컬럼을 선택할경우 : 리스트 자료혐 
m_g = df[['음악','체육']]

In [149]:
mg2 = df[['수학']]
mg1 = df['수학']

In [152]:
print(type(m_g))
print(type(mg2))
print(type(mg1)) # 타입이 다름

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

## 11_select_element.py

In [155]:
#원소 선택
#loc[행 인덱스, 열이름(컬럼명)]
#iloc[행 번호, 열번호(컬럼명)]
#인덱스로 지정된 컬럼 명칭은 인덱스에 포함되지 않음. 
import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [156]:
#이름을 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df) #인덱스가 바뀐

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [171]:
#print(df.loc['이름'])  이름은 인덱스로 지정되지 않음 

df2 = df[:]
print(df2)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [172]:
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)
print('\n')

85
85

In [175]:
# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수) 
#리턴:Series,  컬럼이 인덱스, 인덱스가 칼럼 형태의 Series 로 리턴 
c = df.loc['서준', ['음악','체육']]
print(c)
print(type(c))

음악     85
체육    100
Name: 서준, dtype: int64
<class 'pandas.core.series.Series'>

In [178]:
c = df.loc['서준', '음악':'체육']
print(c)
print(type(c))

음악     85
체육    100
Name: 서준, dtype: int64
<class 'pandas.core.series.Series'>

In [182]:
f = df.iloc[0,2:]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64

In [183]:
# df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악', '체육' 점수) 
g = df.loc[['서준','우현'],['음악','체육']]

In [185]:
print(g)
print(type(g))

    음악   체육
이름
서준  85  100
우현  95   90
<class 'pandas.core.frame.DataFrame'>

In [187]:
h = df.iloc[0:2, 2:] # 행(0,1), 열(2,3)
print(j)

    음악   체육
이름
서준  85  100
우현  95   90

In [189]:
i = df.loc['서준':'우현', '음악':'체육']
print (i)

    음악   체육
이름
서준  85  100
우현  95   90

## 12.add_column.py

In [205]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

In [206]:
df = pd.DataFrame(exam_data)
print(df)
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [207]:
#모든 행에 동일한 값을 지정 
df['국어'] = 80 
print(df)

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [208]:
df.loc[3] = 0 #Row 1행 추가 (빈행) 
print(df)

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80
3   0   0   0    0    0   0

In [211]:
df.loc[4] = ['동규', 90, 80, 70, 60,0]
print(df)

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80
3   0   0   0    0    0   0
4  동규  90  80   70   60   0

In [212]:
#새로운 행(row)을 추가 기존행을 복사 
df.loc['행5'] = df.loc[3]
print(df)

    이름  수학  영어   음악   체육  국어
0   서준  90  98   85  100  80
1   우현  80  89   95   90  80
2   인아  70  95  100   90  80
3    0   0   0    0    0   0
4   동규  90  80   70   60   0
행5   0   0   0    0    0   0

## 14.mdify_dataframe_element.py

In [221]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

df = pd.DataFrame(exam_data)

In [222]:
# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [226]:
pos = (0,3) #Tuple type 
df.iloc[pos] = 80 #서준의 체육점수 교체 
print(df)
print('\n')

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

In [227]:
df.loc['서준', ['음악', '체육']] = 50
print(df)
print('\n')

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

In [228]:
df.loc['서준', ['음악', '체육']] = 100, 50
print(df)

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

In [230]:
#서준,인하 
df.loc[['서준','인아'],['음악','체육']] = 100,100
print(df)

    수학  영어   음악   체육
이름
서준  90  98  100  100
우현  80  89   95   90
인아  70  95  100  100

In [235]:
#서준,인하 
df.loc[['서준','인아'],['음악','체육']] = ((75,100),(80,50))
print(df)

    수학  영어  음악   체육
이름
서준  90  98  75  100
우현  80  89  95   90
인아  70  95  80   50

In [239]:
#서준,인하 
df.loc[['서준','인아'],['음악','체육']] = (75,100),(80,50)
print(df)

    수학  영어  음악   체육
이름
서준  90  98  75  100
우현  80  89  95   90
인아  70  95  80   50

In [240]:
df

    수학  영어  음악   체육
이름
서준  90  98  75  100
우현  80  89  95   90
인아  70  95  80   50