## PANDAS 0904

In [1]:
import pandas as pd

In [2]:
#
dict_data={'a':1, 'b': 2, 'c': 3}

In [3]:
sr = pd.Series(dict_data)

In [7]:
print(type(sr))
print('\n')

<class 'pandas.core.series.Series'>

In [6]:
print(sr)

a    1
b    2
c    3
dtype: int64

In [8]:
print(sr.index) 
print(sr.values)

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

In [9]:
sr_index = print(sr.index) 
sr_values = print(sr.values)

Index(['a', 'b', 'c'], dtype='object')
[1 2 3]

판다스가 파일을 처리하는 것은 DBMS 2차원형태로 메모리로 관리하는 라이브러리이다.

### 02

In [10]:
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]

In [19]:
list_data2 = ['2019-01-02', '3.14', 'ABC', '100', 'True']

In [ ]:
list_nums= [1,2,3,4,5,6,7,8,10]

In [13]:
sr=pd.Series(list_data)

In [20]:
sr=pd.Series(list_data2)

In [21]:
print(sr)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object

In [16]:
# 인덱스 배열은 변수 idx에 저장. 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
print(idx)  # RangeIndex(start=0, stop=5, step=1)
print('\n')
print(val)

RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [17]:
print(sr.dtype)

object

In [18]:
print(sr.dtypes)

object

In [22]:
list_nums= [1.0,2.11,3.14,44.11,5.55]

In [23]:
sr= pd.Series(list_nums)

In [24]:
print(type(sr))

<class 'pandas.core.series.Series'>

In [25]:
#숫자로 구성되어 있는데 실수가 포함되어 있으면 : floast 

print(sr.dtype)

float64

In [26]:
print(sr.dtypes)

float64

In [27]:
#flost64는 pandas에서만 지원하는 Dtype
#ex) python

fl = 0.123
print(type(fl))

<class 'float'>

### 1.3 Series element

In [37]:
import pandas as pd

# 투플을 시리즈로 변환(index 옵션에 인덱스 이름을 지정)
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)
print('\n')

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [41]:
# 원소를 1개 선택
print(sr[0])

영인

/var/folders/cn/6tckc6jj15ncxrjdbnp70vl40000gn/T/ipykernel_2584/921719011.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

In [54]:
print(sr['이름'])# 딕셔너리에서 키 값으로 찾는 것과 같다 
print(type(sr))

영인
<class 'pandas.core.series.Series'>

In [53]:
print(sr[['이름']])

이름    영인
dtype: object

In [61]:
print(sr[[1,2,3]])
#FutureWarning : FutureWarning: Series.__getitem__ treating keys as positions is deprecated.

생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

/var/folders/cn/6tckc6jj15ncxrjdbnp70vl40000gn/T/ipykernel_2584/821263041.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[1,2,3]])

In [62]:
#여려 원소를 선택 (인덱스, 리스트 활용)
print(sr[[1,2]])

생년월일    2010-05-01
성별               여
dtype: object

/var/folders/cn/6tckc6jj15ncxrjdbnp70vl40000gn/T/ipykernel_2584/3514007363.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[1,2]])


sr.iloc[pos] 사용을 권장

In [57]:
print(sr[['생년월일','성별']])
sr_index = sr[]

생년월일    2010-05-01
성별               여
dtype: object

In [58]:
#시작번호 : 시작 
#종료 : 종료 미포함
print(sr[1:2])

생년월일    2010-05-01
dtype: object

In [63]:
#
print(sr['생년월일' : '성별'])

생년월일    2010-05-01
성별               여
dtype: object

In [64]:
#전체 요소 선택 
print(sr[:])
print(sr['이름':])

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [65]:
#전체 요소 선택 
print(sr[:])
print(sr['이름':'학생여부'])

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object
이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

###  02.Data frame

# 열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
#데이터 프레임 : 리스트 이용하여 생성

In [76]:
dict_data = {
    'c0':[1,2,3], # 컬럼 : 데이터 형식 (주의)
    'c1':[4,5,6], 
    'c2':[7,8,9], 
    'c3':[10,11,12], 
    'c4':[13,14,15]
}

In [77]:
## 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장. 
df = pd.DataFrame(dict_data)

In [78]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [79]:
print(df)

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

# 행 인덱스/열 이름 지정하여, 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], 
                   index=['준서', '예은'],
                   columns=['나이', '성별', '학교'])

In [94]:
df = pd.DataFrame ( 
    #나이, 성별, 학교 
    [[15, '남', '덕영중'], #준서
    [17, '여', '수리중']  #예은 ],
    index=['준서', '예은'],
    columns=['나이', '성별', '학교'])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' on line 1 (305323483.py, line 4)

In [92]:
 행 인덱스, 열 이름 확인하기
print(df)            #데이터프레임

SyntaxError: invalid syntax (3555622678.py, line 1)

In [102]:
df = pd.DataFrame(
    [[15, '남', '덕영중'], [17, '여', '수리중']], index=['준서', '예은'],columns=['나이', '성별', '학교'])

In [103]:
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [104]:
df.index = ['학생1', '학생2']

In [105]:
df.columns = ['연령','남녀','소속']

Column, Row 변경

In [106]:

print(df)            #데이터프레임
print(df.index)      #행 인덱스
print(df.columns)    #열 이름

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중
Index(['학생1', '학생2'], dtype='object')
Index(['연령', '남녀', '소속'], dtype='object')

#### 02 DF rename()

# dd

In [119]:
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

In [121]:
#데이터프레임.rename() 메서드로 인덱스와 칼럼명변경 
#칼럼명은 딕셔너리 자료형 
#inplace: Ture (원본변경)

df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)

In [123]:
df.rename(index={'준서':'학생1', '예은':'학생2' }, inplace=Faz)

In [109]:
print(df2)

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

In [117]:
print(df3)

NameError: name 'df3' is not defined

#### 03

In [116]:
#inplace : False 를 주거나 지정하지 않으면 원본은 변경되지 않음

In [132]:
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], 
                   index=['준서', '예은'],
                   columns=['나이', '성별', '학교'])

In [133]:
df2 = df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)

# df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2' 원본 변경안됨.
df3= df.rename(index={'준서':'학생1', '예은':'학생2' }, inplace=False)

In [135]:
print(df)
#컬럼:연령,남녀,소속 변경 원본 변경

    연령 남녀   소속
준서  15  남  덕영중
예은  17  여  수리중

#### Remove  : drop()

In [174]:
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

In [175]:
df = pd.DataFrame(exam_data, index=['서준','우현','인아'])

In [176]:
print(df)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [182]:
df2 = df[:]
df2.drop('우현', inplace= True)

/var/folders/cn/6tckc6jj15ncxrjdbnp70vl40000gn/T/ipykernel_2584/2246097352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('우현', inplace= True)

In [178]:
print(df2)
#'우현'만 삭제

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [179]:
df3 = df[:]

In [180]:
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [181]:
#axis = 1 은 컬럼을 의미함. 
#
df3.drop(['수학','영어'], axis=1, inplace=True)

/var/folders/cn/6tckc6jj15ncxrjdbnp70vl40000gn/T/ipykernel_2584/1418611195.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop(['수학','영어'], axis=1, inplace=True)

In [183]:
print(df3)
# '수학','영어' 컬럼삭제

     음악   체육
서준   85  100
우현   95   90
인아  100   90

## 14.Trans position

In [185]:

import pandas as pd

# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [187]:
# 데이터프레임 행렬을 바뚠다. 행이 열이 되고, 열이 행이됨. 
# 메소드 사용 
df = df.transpose()
print(df)
print('\n')

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

In [188]:
# 데이터프레임 df를 다시 전치하기 (클래스 속성 활용)
df = df.T
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

### 16.set_index.jp

In [209]:
#DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}

In [200]:
df = pd.DataFrame(exam_data)

In [201]:
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

In [210]:
ndf = df.set_index('이름')

In [211]:
print(ndf)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [206]:
ndf2 = ndf.set_index('음악')
print(ndf2)

     수학  영어   체육
음악
85   90  98  100
95   80  89   90
100  70  95   90

In [207]:
ndf3 = ndf.set_index(['수학','음악'])

In [208]:
print(ndf3)

        영어   체육
수학 음악
90 85   98  100
80 95   89   90
70 100  95   90

In [212]:
#인덱스: 80,85인 영어와 체육 점수 
ndf4 = ndf3.loc[80,95]

In [214]:
print(ndf4)

영어    89
체육    90
Name: (80, 95), dtype: int64

In [221]:
#인덱스: 90,95인 체육점수 
ndf5 = ndf3.loc[(80,95),['체육']]
print(ndf5)

체육    90
Name: (80, 95), dtype: int64

In [222]:
print("체육,영어 : ",ndf5)

체육,영어 :  체육    90
Name: (80, 95), dtype: int64

In [224]:
ndf6 = ndf3.loc[(80,95),['체육','영어']]
print('\n')
print("체육,영어 : ", ndf6)

체육,영어 :  체육    90
영어    89
Name: (80, 95), dtype: int64

### 17.reindex.py

In [225]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [227]:

new_index=['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)

In [228]:
print(ndf)

     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  9.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [231]:
#fill_value=0 : zero로 값을 채움 
#reindex로 발생한 NaN값을 숫자 0으로 채우기 
ndf = df.reindex(new_index,fill_value=0)

In [232]:
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

### 18.reset_index.py

In [233]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [234]:
# 행 인덱스를 정수형으로 초기화 
ndf = df.reset_index()
print(ndf)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   9  12  15

### 19.sort_index.py

In [236]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [238]:
#내림차순으로 행 인덱스 정렬  
#인덱스의 큰 값부터 작은값 순으로 정렬 
#원본의 변화가 없으며, 새로운 데이터 프레임을 리턴한다. **
ndf = df.sort_index(ascending=False) 
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

In [239]:
#오름차순 행 인덱스 정렬  
#인덱스의 큰 값부터 작은값 순으로 정렬 

ndf = df.sort_index(ascending=True) 
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

### 20.sort_values.py

In [241]:
#딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   9  12  15

In [242]:
# c1 열을 기준으로 내림차순 정렬 
ndf = df.sort_values(by='c1', ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   9  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

### 21.series_to_number.py

In [243]:
#시리즈 연산
#원본은 유지 
#리턴 : 연산결과 시리즈로 리턴 


# 딕셔너리 데이터로 판다스 시리즈 만들기

student1 = pd.Series({'국어':100, '영어':80, '수학':90})
print(student1)
print('\n')

국어    100
영어     80
수학     90
dtype: int64

In [246]:
percentage = student1 / 2

In [247]:
print(percentage)

국어    50.0
영어    40.0
수학    45.0
dtype: float64

In [248]:
studplus = student1 + 100

In [249]:
#dnjsqhs 
print(studplus)

국어    200
영어    180
수학    190
dtype: int64

In [253]:
#뺄셈 

studSub = student1 - 100
print(studSub)

국어     0
영어   -20
수학   -10
dtype: int64

In [254]:
#나눗셈 
studdiv = student1 / 0.1
print(studdiv)

국어    1000.0
영어     800.0
수학     900.0
dtype: float64

In [255]:
#곱셈 
studmul = student1 * 0.1
print(studmul)

국어    10.0
영어     8.0
수학     9.0
dtype: float64

### 22.series_to_series.py

In [271]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':100, '영어':80, '수학':90, '국사':50})
student2 = pd.Series({'국사':60,'수학':80, '국어':90, '영어':80})

In [275]:
print(student1)
print(student2)

국어    100
영어     80
수학     90
국사     50
dtype: int64
국사    60
수학    80
국어    90
영어    80
dtype: int64

In [276]:
addition = student1 + student2               #덧셈
subtraction = student1 - student2            #뺄셈
multiplication = student1 * student2         #곱셈
division = student1 / student2               #나눗셈
print(type(division))

<class 'pandas.core.series.Series'>

In [277]:
# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, subtraction, multiplication, division], 
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

              국사           국어        수학      영어
덧셈    110.000000   190.000000   170.000   160.0
뺄셈    -10.000000    10.000000    10.000     0.0
곱셈   3000.000000  9000.000000  7200.000  6400.0
나눗셈     0.833333     1.111111     1.125     1.0

In [278]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student3 = pd.Series({'국어':100, '영어':80, '수학':90, '국사':50})
student4 = pd.Series({'국사':60,'수학':80, '국어':90, '영어':80})

In [279]:
print(student1)
print(student2)

국어    100
영어     80
수학     90
국사     50
dtype: int64
국사    60
수학    80
국어    90
영어    80
dtype: int64

#### No.2

In [287]:
import pandas as pd
import numpy as np

# 딕셔너리 데이터로 판다스 시리즈 만들기
# 인덱스가 한 쪽에만 있으면 결과는 NaN으로 처리 

student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

In [288]:
print(student1)
print('\n')
print(student2)
print('\n')

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64

In [289]:
addition = student1 + student2               #덧셈
subtraction = student1 - student2            #뺄셈
multiplication = student1 * student2         #곱셈
division = student1 / student2               #나눗셈
print(type(division))
print('\n')

# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result2 = pd.DataFrame([addition, subtraction, multiplication, division], 
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result2)

<class 'pandas.core.series.Series'>


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

### 03

In [290]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

### 25.df_to_number.py

#### seaborn 설치

In [291]:
import seaborn as sns

In [300]:
# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]
print(df.head())   #첫 5행만 표시
print('\n')
print(type(df))
print('\n')

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500


<class 'pandas.core.frame.DataFrame'>

In [311]:
# 데이터프레임에 숫자 10 더하기
addition = df + 10
print(addition.head())   #첫 5행만 표시
print('\n')
print(type(addition))

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500


<class 'pandas.core.frame.DataFrame'>

In [314]:
# 데이터프레임에 숫자 10 더하기
subtraction = addition - df
print(subtraction.head())   #마지막 5행만 표시
print('\n')
print(type(subtraction))

    age  fare
0  10.0  10.0
1  10.0  10.0
2  10.0  10.0
3  10.0  10.0
4  10.0  10.0


<class 'pandas.core.frame.DataFrame'>

In [316]:
print(subtraction.tail(n=10))   #마지막 10행만 표시
print('\n')
print(type(addition))

      age  fare
881  10.0  10.0
882  10.0  10.0
883  10.0  10.0
884  10.0  10.0
885  10.0  10.0
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0


<class 'pandas.core.frame.DataFrame'>