# 반복문 : while

1부터 10까지의 합을 구하라 
i = 1 부터 5까지 증가 시키면서 
증가값을 출력하고 증가값의 합을 구해라

In [11]:
i = 10
s = 0 

##5번 반복 
i += 1
s += i

print (f'i ({i}) = 합({s})')

#RPA Robotic Process Automation - 비지니스 프로세스 자동화 기술 
# 상품 : UIPath 
# 섬성 : 브리티 RPA 
# Zapire 
#

i (11) = 합(11)

In [13]:
last = 100
i = 0 
s = 0

while i < last: 
    i += 1 
    s +=i 
    print (f'i ({i}) = 합({s})')

print (f'i({i}) = 합({s})')

i (1) = 합(1)
i (2) = 합(3)
i (3) = 합(6)
i (4) = 합(10)
i (5) = 합(15)
i (6) = 합(21)
i (7) = 합(28)
i (8) = 합(36)
i (9) = 합(45)
i (10) = 합(55)
i (11) = 합(66)
i (12) = 합(78)
i (13) = 합(91)
i (14) = 합(105)
i (15) = 합(120)
i (16) = 합(136)
i (17) = 합(153)
i (18) = 합(171)
i (19) = 합(190)
i (20) = 합(210)
i (21) = 합(231)
i (22) = 합(253)
i (23) = 합(276)
i (24) = 합(300)
i (25) = 합(325)
i (26) = 합(351)
i (27) = 합(378)
i (28) = 합(406)
i (29) = 합(435)
i (30) = 합(465)
i (31) = 합(496)
i (32) = 합(528)
i (33) = 합(561)
i (34) = 합(595)
i (35) = 합(630)
i (36) = 합(666)
i (37) = 합(703)
i (38) = 합(741)
i (39) = 합(780)
i (40) = 합(820)
i (41) = 합(861)
i (42) = 합(903)
i (43) = 합(946)
i (44) = 합(990)
i (45) = 합(1035)
i (46) = 합(1081)
i (47) = 합(1128)
i (48) = 합(1176)
i (49) = 합(1225)
i (50) = 합(1275)
i (51) = 합(1326)
i (52) = 합(1378)
i (53) = 합(1431)
i (54) = 합(1485)
i (55) = 합(1540)
i (56) = 합(1596)
i (57) = 합(1653)
i (58) = 합(1711)
i (59) = 합(1770)
i (60) = 합(1830)
i (61) = 합(1891)
i (62) = 합(1953)
i (63) = 합(2016)
i (64) = 합(2080)
i (65) = 합(2145)
i (66) = 합(2211)
i (67) = 합(2278)
i (68) = 합(2346)
i (69) = 합(2415)
i (70) = 합(2485)
i (71) = 합(2556)
i (72) = 합(2628)
i (73) = 합(2701)
i (74) = 합(2775)
i (75) = 합(2850)
i (76) = 합(2926)
i (77) = 합(3003)
i (78) = 합(3081)
i (79) = 합(3160)
i (80) = 합(3240)
i (81) = 합(3321)
i (82) = 합(3403)
i (83) = 합(3486)
i (84) = 합(3570)
i (85) = 합(3655)
i (86) = 합(3741)
i (87) = 합(3828)
i (88) = 합(3916)
i (89) = 합(4005)
i (90) = 합(4095)
i (91) = 합(4186)
i (92) = 합(4278)
i (93) = 합(4371)
i (94) = 합(4465)
i (95) = 합(4560)
i (96) = 합(4656)
i (97) = 합(4753)
i (98) = 합(4851)
i (99) = 합(4950)
i (100) = 합(5050)
i(100) = 합(5050)

In [17]:
last = 5
i = 0 
s = 0

while True: # while i>=last  와 동일함  While 무한 루프에 break 조건문  
    if i >= last:
        break
    i += 1 
    s +=i 
    print (f'i ({i}) = 합({s})')

print (f'i({i}) = 합({s})')

i (1) = 합(1)
i (2) = 합(3)
i (3) = 합(6)
i (4) = 합(10)
i (5) = 합(15)
i(5) = 합(15)

In [25]:
last = 5
i = 0
s = 0

while True: # while i>=last  와 동일함  While 무한 루프에 break 조건문  
    
    i += 1 
    if i >10: #i i10이상이 되면 정지(11) 
        break ## i = 11 되면 정지
    s +=i 
    print (f'i ({i}) = 합({s})')
  
    
print (f'i({i}) = 합({s})')

i (1) = 합(1)
i (2) = 합(3)
i (3) = 합(6)
i (4) = 합(10)
i (5) = 합(15)
i (6) = 합(21)
i (7) = 합(28)
i (8) = 합(36)
i (9) = 합(45)
i (10) = 합(55)
i(11) = 합(55)

In [29]:
i = 0
s = 0 

while i<100:
    i+=1
    if 0==i%2:
        s+=i
        print(s)

print(s)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
702
756
812
870
930
992
1056
1122
1190
1260
1332
1406
1482
1560
1640
1722
1806
1892
1980
2070
2162
2256
2352
2450
2550
2550

In [61]:
i = 1
e = 0 

while i<=100:
    if i%2 == 0:
        e += i

    i+=1 

print(e)

2550

In [72]:
i = 1
o = 0

while i < 10:
    print(f"{i}")
    o += i
    i += 2

print(f"홀수의합 {o}")

1
3
5
7
9
홀수의합 25

In [71]:
i = 0
e = 0

while i < 10:
    print(f"{i}")
    i += 2
    e += i
    
print(f'짝수의합 {e}')

0
2
4
6
8
짝수의합 30

In [81]:
i = 0
s = 0

while i < 1000:
    i+=1
    if (i%3 == 0):
        s+=i
print("Total",s)

Total 166833

In [90]:
i = 0 
while i <10:
    i+=1
    print("*"*i)

i = 10
while i>0:
    i= i - 1
    print("*"*(i))

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*