## Chapter 2 - Series 객체

In [4]:
import pandas as pd
import numpy as np

In [5]:
# pd.attribut , np.attribut 식으로 접근할수 있다. 
pd.Series()

Series([], dtype: object)

In [6]:
#Series 생성자의 첫번째 인자는 반복가능한 데이터 객체, 리스트,딕셔너리, 튜플, ndarray 입니다. 
iceCreamFlavors= ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"] #리스트형

In [7]:
# Series 함수 인자값을 넣는 방법 1 
pd.Series(iceCreamFlavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [8]:
# 인자값에 'data ='' 를 사용해도 된다. 
pd.Series(data = iceCreamFlavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [9]:
#기본 인덱스는 0~ 시작하는 위치 인덱스임 
# 사용자 정의 인덱스를 정할수 있음 

daysOfWeek = ("Mon", "Wed","Fri", "Sat")

pd.Series(iceCreamFlavors, daysOfWeek)

Mon     Chocolate
Wed       Vanilla
Fri    Strawberry
Sat    Rum Raisin
dtype: object

In [10]:
# index = 표기해주는 것도 식별하기 좋다. 
pd.Series(iceCreamFlavors, index = daysOfWeek)

Mon     Chocolate
Wed       Vanilla
Fri    Strawberry
Sat    Rum Raisin
dtype: object

In [11]:
myNum = [23,45,13,31,18,22,38]

In [12]:
myNumSeries = pd.Series(myNum, dtype="float")

In [13]:
print(myNumSeries)

0    23.0
1    45.0
2    13.0
3    31.0
4    18.0
5    22.0
6    38.0
dtype: float64

### 2.1.4 NaN Not a Number

In [14]:
temp = [94,88, np.nan, 91]

In [15]:
pd.Series(temp)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

## 2.2  객체에서 Series생성

In [16]:
#딕셔너리= Key:Value 
cal_Info = {"Cereal": 125, "Chocolate Bar":406, "Ice Cream Sundae":342}

In [17]:
#Series 생성 하기 

cals = pd.Series(cal_Info)

In [18]:
cals
#Key -> Index가 된다.

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [19]:
rgbColors=[(120,41,26), (196,165,43)]
pd.Series(data=rgbColors)

0     (120, 41, 26)
1    (196, 165, 43)
dtype: object

In [20]:
dict_data ={"c0": [1,2,3], "c1": [4,5,6], "c2":[7,8,9], "c3":[10,11,12]}

In [21]:
sr1 = pd.Series(dict_data)

In [22]:
print(sr1)

c0       [1, 2, 3]
c1       [4, 5, 6]
c2       [7, 8, 9]
c3    [10, 11, 12]
dtype: object

In [23]:
df = pd.DataFrame(dict_data)

In [24]:
print(df)

   c0  c1  c2  c3
0   1   4   7  10
1   2   5   8  11
2   3   6   9  12

In [25]:
cals.values

array([125, 406, 342])

In [26]:
cals

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [27]:
type(cals.values)

numpy.ndarray

In [28]:
cals.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [29]:
type (cals.index)

pandas.core.indexes.base.Index

In [30]:
cals.dtype

dtype('int64')

In [31]:
cals.size

3

In [32]:
cals.shape

(3,)

In [33]:
cals.is_unique

True

In [34]:
#유일한지 확인하는 속성
pd.Series(data=[3,3]).is_unique

False

In [42]:
#monotonic 속성 
pd.Series(data = [1,3,6]).is_monotonic_increasing

True

## 2.4 첫번째 행과 마지막 행 검색

In [43]:
values = range(0,500,5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [47]:
nums.head() #n=5 으로 사용가능 , n 생략가능, head() 기본값 = 5

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [49]:
nums.tail(n=5)

95    475
96    480
97    485
98    490
99    495
dtype: int64

## 2.5 수학연산

### 2.5.1 통계연산

In [50]:
#결측값 자동대응

In [51]:
numbers = pd.Series([1,2,3,np.nan, 4,5])
print(numbers)

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [61]:
# NaN 자동 삭세후 카운트함. (파이선 자동)
numbers.count()

5

In [59]:
# 결측값 무시 
numbers.sum(skipna=False)

nan

In [62]:
#product() Seires값모두 곱한다. 
numbers.product()

120.0

In [63]:
numbers.product(skipna=False)

nan

In [64]:
numbers.product(min_count=3)

120.0

In [65]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [66]:
#cumsum() 누적합계
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [67]:
numbers.cumsum(skipna=False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [68]:
#pct_change() 변동 비율 메서드 

numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

<ptc_change() 계산원리>
1. index : 0 -> numbers[0] : 1.0 >>이전값과비교불가 Return : NaN
2. index : 1 -> numbers[1] : 2.0 >>이전값 1.0과 비교 2.0 과 1.0 tkdl qusehd qldbf 100%(두배) 1.0 반환 
3. index : 2 -> numbers[2] : 3.0 .>> 이전값 2.0 비교 변동 50% 0.5 Return 
4. index : 3 -> numbers[3] : NaN  >> 이전값 3.0과 현재 값이 NaN이므로 이전 값을 가진다. 3.0 즉 0.0 리턴 
5. index : 4 -> numbers[4] : 4.0 >> 이전값 3.0과 비교 약 0.33333 다름 
6. index : 5 -> numbers[5] : 5.0 >> 이전갑 4.0과 비교 약 0.25 다름

In [69]:
#mean () 평균값
numbers.mean()

3.0

In [70]:
#median() 중간값 
print(numbers)
print(numbers.median()) # NaN 무시

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64
3.0

In [71]:
#std() : 표준편차 

numbers.std()

1.5811388300841898

In [74]:
# max(), min() 가장큰, 가장 작은 값 리턴 
print(numbers.max()) 

print(numbers.min())

5.0
1.0

In [75]:
animals = pd.Series(["koala","aardvark","zebra"])

In [77]:
animals

0       koala
1    aardvark
2       zebra
dtype: object

In [79]:
animals.max()

'zebra'

In [80]:
animals.min()

'aardvark'

In [82]:
#요약함수 
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [89]:
#sample() : 임의의 값을 선택 
numbers.sample()

3   NaN
dtype: float64

In [90]:
superheroes = ["Bathman", "Superman", "Spider-Man", "Iron Man", "Captin America","Wonder Woman"]

In [94]:
strength_level = (100,120,90,95,110,120)

In [91]:
sh = pd.Series(superheroes)

In [92]:
print(sh)

0           Bathman
1          Superman
2        Spider-Man
3          Iron Man
4    Captin America
5      Wonder Woman
dtype: object

In [95]:
sl = pd.Series(strength_level)

In [96]:
print(sl)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [97]:
heroes = pd.Series(data= strength_level, index = superheroes)

In [98]:
print(heroes)

Bathman           100
Superman          120
Spider-Man         90
Iron Man           95
Captin America    110
Wonder Woman      120
dtype: int64

In [99]:
heroes.head(2)

Bathman     100
Superman    120
dtype: int64

In [100]:
heroes.tail(4)

Spider-Man         90
Iron Man           95
Captin America    110
Wonder Woman      120
dtype: int64

In [107]:
heroes.nunique()

5

In [102]:
heroes.mean()

105.83333333333333

In [104]:
print(heroes.min())

heroes.max()

90

120

In [105]:
heroes * 2

Bathman           200
Superman          240
Spider-Man        180
Iron Man          190
Captin America    220
Wonder Woman      240
dtype: int64

In [106]:
dict(heroes)

{'Bathman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Captin America': 110,
 'Wonder Woman': 120}