In [2]:
import pandas as pd

In [8]:
#read_csv 로 파일 불러오기 (동일 디렉토리)
movies = pd.read_csv('movies.csv' , index_col="Title") #index_col : Ttitle로 정하기 (기본: 숫자)

In [9]:
print(type(movies))

<class 'pandas.core.frame.DataFrame'>

In [10]:
movies.head(4)

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015

In [12]:
movies.tail(6)

                          Rank           Studio     Gross  Year
Title
21 Jump Street             777             Sony  $201.60   2012
Yogi Bear                  778  Warner Brothers  $201.60   2010
Garfield: The Movie        779              Fox  $200.80   2004
Cats & Dogs                780  Warner Brothers  $200.70   2001
The Hunt for Red October   781        Paramount  $200.50   1990
Valkyrie                   782              MGM  $200.30   2008

In [13]:
movies.shape

(782, 4)

In [14]:
#총 셀의 갯수 
movies.size

3128